file-dropzone {
  width: 100%;
  max-width: 300px;
  background: white;
  border: 2px solid lightblue;
  min-height: 150px;
  border-radius: 15px;
  position: relative;
  font-family: sans-serif;
  color: darkgray;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

file-dropzone._active {
  background: lightblue;
  border-color: blue;
}

file-dropzone input[type="file"] {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

file-dropzone .file_dropzone_clear_button {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
  
file-dropzone .file_dropzone_clear_button._show {
  display: block;
}
