* {
  box-sizing: border-box;
  font-size: inherit;
}

html {
  background: var(--color_background);
  color: var(--color_text);
  font-size: 20px;
}

html input {
  background: var(--color_input);
  color: currentColor;
  border: none;
}

html file-dropzone {
  background: var(--color_input);
  color: currentColor;
  border-color: var(--color_text);
}

html button {
  background: var(--color_text);
  color: var(--color_background);
  border: none;
}

html[color-scheme="matrix"] {
  --color_background: #131c1b;
  --color_text: #6fa59a;
  --color_input: #445350;

  --border-color: #6fa59a;
  --background-color: #445350;
  --border-color-active: #4dffdb;
  --background-color-active: #6fa59a;
}

body {
  padding: 20px;
  font-family: sans-serif;
}

form {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  * {
    width: 100%;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  button {
    padding: 10px;
    border-radius: 10px;
  }

  file-dropzone {
    max-width: unset;
  }
}