* {
  box-sizing: border-box;
}

html {

}

body {
  padding: 20px;
  font-family: sans-serif;
}

form {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  label {
    display: block;
    margin-bottom: 10px;
  }

  button {
    padding: 10px;
    border-radius: 10px;
  }

  file-dropzone {
    max-width: unset;
  }
}